body {
    background-color:rgb(235, 224, 224);
}
hr {
    color: white;
    border-style: none;
    border-top-style: dotted;
    border-width: 1ex;
    height: 2px;
    width: 5%;
}
h1 {
    color:rgb(212, 150, 150);
}
h3 {
    color: rgb(204, 165, 165);
}

